* {
    margin: 0px;
}

nav {
    background-color: #ffffff;
    max-width: 100%;
    padding: 25px;
    border-bottom: 3px solid #EDBA36;
    margin-bottom: 0px;

    text-align: right;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("/backgrounds/backgroundtile.png");
    background-repeat: repeat;

    font-size: 24px;
}

.backgroundBlock {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    border-bottom: 3px solid #EDBA36;
    border-left: 3px solid #EDBA36;
    border-right: 3px solid #EDBA36;

    margin-top: 0px;
    margin-left: 10%;
    max-width: 80%;
}

h1 {
    margin: 30px;
}

hr {
    border: 3px dashed #EDBA36;
    margin-bottom: 30px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 5px;
}

a {
    color: #000000;
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

.aboutme {
    padding: 30px;
}

.footerP1 {
    margin-bottom: 10px;
}

.footerP2 {
    margin: 0px;
}

.footerP3 {
    margin-top: 10px;
}